body {
    margin: 0;
    padding: 0;
    background-color: rgb(251, 249, 241);
    overflow-y: scroll;
    scrollbar-width: none;
}

#app {
    font-family: 'Roboto', Arial, sans-serif;
    color: #2c3e50;
    align-items: center;
    margin-bottom: 100px;
}

#app > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sheet * {
    page-break-inside: avoid;
}

.card-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    max-width: 600px;
    min-height: 250px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-top: 10px solid rgb(145, 200, 228);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    gap: 25px;
}

.btn-primary {
    background-color: rgb(70, 130, 169);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(116, 155, 194);
}

.navbar-analyzer {
    background: rgba(197,220,245,1);
}

.filters {
    background: rgb(251, 249, 241); 
    padding-top: 2vh;
}

.filters > hr {
    margin-bottom: 2vh;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgb(0, 0, 0), rgba(255,255,255,0));
}

#btn-back-to-top {
    position: fixed;
    bottom: 45px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(120, 57, 57, 0.606);
    opacity: 0;
    visibility: hidden;
}

#btn-back-to-top.show {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(197,220,245,1) 50%, rgba(255,255,255,0) 100%);  	
	color: white;
	text-align: center;
}

footer p {
	color: #2c3e50;
}

.btn-light {
    background-color: #fff;
    border: none;
}

.badge span[data-color="green"] {
    background-color: #e6f4ea;
    color: #4caf50;
}

.badge span[data-color="red"] {
    background-color: #ffebee;
    color: #f44336;
}

.badge span[data-color="blue"] {
    background-color: #e3f2fd;
    color: #2196f3;
    animation: blink 1.5s linear infinite;
}

.badge span {
    background-color: #fffbec;
    min-width: 60px;
    height: 25px;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.btn-filter {
    background-color: #fff;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    transition: color 0.3s ease;
}

.btn-filter:hover {
    background-color: #e6e6e6;
}

@keyframes blink {
    0%, 20%, 40%, 100% {opacity: 1;}
    10%, 30% {opacity: 0.7;}
}

.notification {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 60%;
    max-width: 100%;
    z-index: 9999;
    animation: blink 5s linear infinite;
}

.trash:hover {
    color: #f44336;
}

@media print {
    
    .btn, .navbar-analyzer, footer {
        display: none !important;
    }
    
    #mobile-sheet {
        display: none !important;
    }

    #sheet {
        display: block !important;
        box-shadow: none !important;
    }

}