body {
    margin: 0;
    padding: 0;
    background-color: rgb(251, 249, 241);
}

#app {
    font-family: 'Roboto', Arial, sans-serif;
    color: #2c3e50;
    align-items: center;
    margin-bottom: 100px;
}

#app > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 600px;
    min-height: 250px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-top: 10px solid rgb(145, 200, 228);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.btn-primary {
    background-color: rgb(70, 130, 169);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(116, 155, 194);
}

.navbar-analyzer {
    background-color: rgba(145, 200, 228, 0.5);
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(197,220,245,0.8225490879945728) 50%, rgba(255,255,255,0) 100%);  	
	color: white;
	text-align: center;
	margin-top: auto;
	padding: 0.6em;
}

footer p {
	color: #4f868c;
}

footer p:hover {
	color: #39696e;
}

.btn-light {
    background-color: #fff;
    border: none;
}

.badge span[data-color="green"] {
    background-color: #e6f4ea;
    color: #4caf50;
}

.badge span[data-color="red"] {
    background-color: #ffebee;
    color: #f44336;
}

.badge span[data-color="blue"] {
    background-color: #e3f2fd;
    color: #2196f3;
    animation: blink 1.5s linear infinite;
}

.badge span {
    background-color: #fffbec;
    min-width: 60px;
    height: 25px;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.btn-filter {
    background-color: #fff;
    border: black 2px solid;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;  /* Agrega esta línea */
    transition: color 0.3s ease;  /* Agrega esta línea */
}

.btn-filter:hover {
    background-color: #e6e6e6;
}

@keyframes blink {
    0%, 20%, 40%, 100% {opacity: 1;}
    10%, 30% {opacity: 0.7;}
}

.notification {
    position: fixed;
    top: 90px;
    right: 20px;
    max-width: 300px;
    z-index: 9999;
    animation: blink 5s linear infinite;
}

.trash:hover {
    color: #f44336;
}