{% extends "main.html" %}

{% block content %}
    
    <div class="d-flex justify-content-center align-items-center">
        <div class="mx-auto">
            <img
                class="mb-3 img-fluid"
                src="{{ url_for('static', filename='/images/TwinBarras.png') }}"
                style="max-width: 400px; width: 100%;"
            />
        </div>
    </div>
    <div class="card-login mx-auto">
        <div class="alert alert-danger" role="alert" v-if="errorMessage">
            [[errorMessage]]
        </div>
        <div class="alert alert-success" role="alert" v-else-if="successMessage">
            [[successMessage]]
        </div>
        <div class="alert alert-info" role="alert" v-else>
            Please enter the admin password to login.
        </div>
        <form @submit.prevent="login">
            <div class="form-group">
                <label for="password" class="font-weight-bold">Password</label>
                <input v-model="password" type="password" class="form-control shadow-sm" id="password-input" placeholder="Admin Password">
            </div>
            <button v-on:click="login" type="button" class="btn btn-primary shadow-sm">Login</button>
        </form>
    </div>
{% endblock %}

